/* Box Model & Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --background-color: hsl(35, 15%, 100%);
  --background-color-alt: hsl(35, 15%, 95%);
  --background-color-input: hsl(35, 10%, 100%);
  --accent-color: #F97316;
  --text-color: hsl(35, 15%, 10%);
  --text-color-alt: hsl(35, 15%, 20%);
  --text-color-muted: hsl(35, 15%, 40%);

  --error-color: #D93025;
  --success-color: #188038;
  --warning-color: #E37400;

  --font-body: "Open Sans", sans-serif;
  --font-body-line-height: 1.6;
  --font-body-size: clamp(0.95rem, 0.8rem + 0.5vw, 1.125rem);
  --font-body-weight: 400;

  --font-h1-size: clamp(2.5rem, 1rem + 5vw, 4rem);
  --font-h1-weight: 800;

  --layout-max-width: clamp(60rem, 80vw, 75rem);
  --layout-padding: clamp(1rem, 2vw, 2rem);
  --layout-gap: clamp(0.5rem, 1vw, 1.5rem);
  --layout-breakpoint-sm: 40rem;
  --layout-breakpoint-md: 40rem;
  --layout-breakpoint-lg: 64rem;

  --button-radius: clamp(0.5rem, 1vw, 1rem);
}

/* Dark Mode */
.dark-mode {
  --background-color: hsl(35, 15%, 10%);
  --background-color-alt: hsl(35, 15%, 15%);
  --background-color-input: hsl(35, 10%, 5%);
  --text-color: hsl(35, 15%, 100%);
  --text-color-alt: hsl(35, 15%, 90%);
  --text-color-muted: hsl(35, 15%, 60%);
}

/* Base Typography */
body {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  line-height: var(--font-body-line-height);
  font-weight: var(--font-body-weight);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-h1-weight);
}

/* Layout */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-max-width);
  min-height: 100vh;
  padding: var(--layout-padding);
  margin: 0 auto;
}

.site-header {
  display: grid;
  grid-template-areas: "site-header-logo"
                        "site-header-tag"
                        "site-header-byline"
                        "site-nav-list"
                        "site-nav-list"
                        "site-nav-controls";
  grid-template-columns: 1fr;
  gap: var(--layout-padding);
}

.site-header-logo {
  grid-area: site-header-logo;
  display: flex;
  align-items: center;
  width: minmax(100px, 20hw);
}

.ju-initial {
  display: flex;
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--background-color);
  align-self: center;
  justify-content: center;
  margin: 0 auto;
 }

.site-header-tag {
  grid-area: site-header-tag;
  display: flex;
  align-items: center;
  padding-inline: var(--layout-padding);
}
.site-header-byline {
  grid-area: site-header-byline;
  display: flex;
  align-items: center;
  justify-self: start;
  padding-inline: var(--layout-padding);
}

.site-nav-list {
  grid-area: site-nav-list;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-nav-list ul {
  display: flex;
  gap: var(--layout-gap);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav-list ul li {
  display: block;
}

.site-nav-list ul li a {
  display: block;
  padding: var(--layout-padding);
  color: var(--text-color);
  font-weight: var(--font-body-weight);
}

.site-nav-controls {
  grid-area: site-nav-controls;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-inline: var(--layout-padding);
}

.site-nav-controls ul {
  display: flex;
  gap: var(--layout-gap);
  justify-content: flex-end;
  list-style-type: none;
}

main {
  flex: 1;
}

section {
  margin-block: calc(3* var(--layout-gap));
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-alt);
  padding: var(--layout-padding);
}

/* Media Queries */
/* Desktop */
@media (min-width: 64rem) {
  .site-header {
    grid-template-areas: "site-header-logo site-header-tag site-header-byline"
                          "site-nav-list site-nav-list site-nav-controls";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .site-header-byline {
    justify-self: end;
  }

  .site-nav-controls {
    justify-self: end;
  }
  
}

/* Tablet */
@media (min-width: 40rem) and (max-width: 64rem) {
  .site-header {
    grid-template-areas: "site-header-logo site-header-logo"
                          "site-header-tag site-header-tag"
                          "site-header-byline site-nav-controls"
                          "site-nav-list site-nav-list";
    grid-template-columns: 1fr 1fr;
  }

  .site-header-byline {
    justify-self: start;
  }

  .site-nav-controls {
    justify-self: end;
  }
}