/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*Composition */
/* CSS Variables */
:root {
  --background-color: hsl(35, 15%, 100%);
  --background-color-alt: hsl(35, 15%, 95%);
  --background-color-input: hsl(35, 10%, 100%);
  --accent-color: #F97316;
  --text-color: hsl(35, 15%, 10%);
  --text-color-alt: hsl(35, 15%, 20%);
  --text-color-muted: hsl(35, 15%, 40%);

  --error-color: #D93025;
  --success-color: #188038;
  --warning-color: #E37400;

  --font-heading: "Merriweather", Georgia, serif;
  --font-heading-italic: "MerriweatherItalic", Georgia, serif;
  --font-body: "NotoSans", Arial, sans-serif;
  --font-body-italic: "NotoSansItalic", Arial, sans-serif;
  --font-size: clamp(0.875rem, 2vw + 1rem, 1.25rem);
  --line-height: clamp(1.4, 2.5vw + 1.5, 1.8);


  --layout-max-width: clamp(60rem, 80vw, 75rem);
  --layout-padding: clamp(1rem, 2vw, 2rem);
  --layout-gap: clamp(0.5rem, 1vw, 1.5rem);
  --layout-breakpoint-sm: 40rem;
  --layout-breakpoint-md: 40rem;
  --layout-breakpoint-lg: 64rem;

  --button-radius: clamp(0.5rem, 1vw, 1rem);
}

/* Dark Mode */
.dark-mode {
  --background-color: hsl(35, 15%, 10%);
  --background-color-alt: hsl(35, 15%, 15%);
  --background-color-input: hsl(35, 10%, 5%);
  --text-color: hsl(35, 15%, 100%);
  --text-color-alt: hsl(35, 15%, 90%);
  --text-color-muted: hsl(35, 15%, 60%);
}

/* Base Typography */
@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "opsz" 12, "wdth" 100, "wght" 400;
}

@font-face {
  font-family: 'MerriweatherItalic';
  src: url('/assets/fonts/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings: "opsz" 12, "wdth" 100, "wght" 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100, "wght" 400;
}

@font-face {
  font-family: 'NotoSansItalic';
  src: url('/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 400;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) * 2.666);
  line-height: calc(var(--line-hight) * 1.2);
  font-weight: 900;
}

h2 {
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) * 2);
  line-height: calc(var(--line-height) * 1.15);
  font-weight: 800;
}

h3 {
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) * 1.5);
  line-height: calc(var(--line-height) * 1.1);
  font-weight: 700;
}

h4 {
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--line-height) * 1.05);
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

blockquote {
  font-family: var(--font-body-italic);
  line-height: calc(var(--line-height) * 0.9);
}

a {
  font-family: var(--font-body-italic);
}

a:hover {
  text-decoration-color: var(--accent-color);
}

a:active {
  color: var(--text-color-muted);
}

em, i {
  font-family: var(--font-body-italic);
}

strong, b {
  font-weight: 700;
}

small {
  font-size: calc(var(--font-size) * 0.8);
  font-weight: 300;
}

.site-nav-list ul li a {
  display: block;
  font-size: calc(var(--font-size) * 1.2);
  padding: var(--layout-padding);
  font-weight: 500;
}


/* Layout */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-max-width);
  min-height: 100vh;
  padding: var(--layout-padding);
  margin: 0 auto;
}

.site-header {
  display: grid;
  grid-template-areas: "site-header-logo"
                        "site-header-tag"
                        "site-header-byline"
                        "site-nav-list"
                        "site-nav-list"
                        "site-nav-controls";
  grid-template-columns: 1fr;
  gap: var(--layout-padding);
}

.site-header-logo {
  grid-area: site-header-logo;
  display: flex;
  align-items: center;
  width: minmax(100px, 20vw);
}

.ju-initial {
  display: flex;
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--background-color);
  align-self: center;
  justify-content: center;
  margin: 0 auto;
 }

 .ju-initial-svg path {
  fill: var(--text-color);
  transition: fill 0.3s ease-in-out;
}

.site-header-tag {
  grid-area: site-header-tag;
  display: flex;
  align-items: center;
  padding-inline: var(--layout-padding);
}
.site-header-byline {
  grid-area: site-header-byline;
  display: flex;
  align-items: center;
  justify-self: start;
  padding-inline: var(--layout-padding);
}

.site-nav-list {
  grid-area: site-nav-list;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-nav-list ul {
  display: flex;
  gap: var(--layout-gap);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav-list ul li {
  display: block;
}

.site-nav-controls {
  grid-area: site-nav-controls;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-inline: var(--layout-padding);
}

.site-nav-controls ul {
  display: flex;
  gap: var(--layout-gap);
  justify-content: flex-end;
  list-style-type: none;
}

main {
  flex: 1;
}

section {
  margin-block: calc(10 * var(--layout-gap));
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-alt);
  padding: var(--layout-padding);
}

/* Utility */

.icon {
  color: var(--text-color);
  width: var(--font-size);
  height: var(--font-size);
  display: inline-block;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.dark-mode-toggle {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  background-color: var(--background-color-alt); /* Use variable for background */
  border-radius: 2rem;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}

.toggle-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--text-color);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.moon {
  left: 0.25rem;
  transform: translateX(0);
  opacity: 1;
}

.sun {
  right: 0.25rem;
  transform: translateX(-2rem);
  opacity: 0;
}

.dark-mode-toggle:checked + .toggle-label {
  background-color: var(--text-color-muted);
}

.dark-mode-toggle:checked + .toggle-label::before {
  transform: translateX(-2rem);
  background-color: var(--text-color);
}

.dark-mode-toggle:checked + .toggle-label .moon {
  transform: translateX(2rem);
  opacity: 0;
}

.dark-mode-toggle:checked + .toggle-label .sun {
  transform: translateX(0);
  opacity: 1;
}

/*Block*/
.card {
  background-color: var(--background-color-alt);
  padding: 1.5rem;
  border-radius: 0.75rem;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin-top: 0;
}

.card a {
  display: inline-block;
  margin-top: 1rem;
}


/* Exceptions */
/* Media Queries */
/* Desktop */
@media (min-width: 64rem) {
  .site-header {
    grid-template-areas: "site-header-logo site-header-tag site-header-byline"
                          "site-nav-list site-nav-list site-nav-controls";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .site-header-byline {
    justify-self: end;
  }

  .site-nav-controls {
    justify-self: end;
  }
  
}

/* Tablet */
@media (min-width: 40rem) and (max-width: 64rem) {
  .site-header {
    grid-template-areas: "site-header-logo site-header-logo"
                          "site-header-tag site-header-tag"
                          "site-header-byline site-nav-controls"
                          "site-nav-list site-nav-list";
    grid-template-columns: 1fr 1fr;
  }

  .site-header-byline {
    justify-self: start;
  }

  .site-nav-controls {
    justify-self: end;
  }
}

* {
  outline: red solid 1px;
}